.palette {
  border: 2px black solid;
  margin: 20vh auto;
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.palette .controlBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.palette .controlBox .legend {
  width: 2.8vw;
  height: 5.1vh;
}
.palette .controlBox .red {
  background-color: red;
}
.palette .controlBox .green {
  background-color: green;
}
.palette .controlBox .blue {
  background-color: blue;
}
.palette .controlBox .opacity {
  background-color: gray;
}
.palette .controlBox input {
  width: 15vw;
}
.palette .controlBox p {
  font-size: 15px;
  font-weight: bold;
  width: 5vw;
}

/*# sourceMappingURL=App2.css.map */
