.palette {
  border: 2px black solid;
  margin: 20vh auto;
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .controlBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

    .legend {
      width: 2.8vw;
      height: 5.1vh;
    }

    .red {
      background-color: red;
    }

    .green {
      background-color: green;
    }

    .blue {
      background-color: blue;
    }

    .opacity {
      background-color: gray;
    }

    input {
      width: 15vw;
    }

    p {
      font-size: 15px;
      font-weight: bold;
      width: 5vw;
    }
  }
}