.pageContainer {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    //margin: 50px auto;
    width: 1000px;
    height: 600px;
    //border: black 2px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


  }
}