.pageContainer {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageContainer .container {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*# sourceMappingURL=App3.css.map */
