.promotionContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50vh;
  background-color: #91eb91;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.promotionContainer h1 {
  font-size: 40px;
  text-align: center;
  color: red;
}
.promotionContainer button {
  width: 50%;
  background-color: red;
  font-size: 30px;
}
.promotionContainer button:hover {
  background-color: lightblue;
}

/*# sourceMappingURL=Promotion.css.map */
