.output {
  height: 40px;
  width: 50vw;
  font-size: 30px;
  color: darkgreen;
  position: absolute;
  left: 100px;
  top: -5px;
  border: black 1px solid;
  background-color: whitesmoke;
}

/*# sourceMappingURL=UserOutput.css.map */
