.input {
  width: 50vw;
  height: 40px;
  font-size: 30px;
  color: black;
  background-color: orangered;
  border: black 1px solid;
  position: absolute;
  left: 100px;
  top: -5px;
}

/*# sourceMappingURL=UserInput.css.map */
